<ion-view view-title="Activity Feed">

  <ion-content data-tap-disabled="true" ng-controller="mainController" overflow-scroll="true">
    <ion-refresher  refreshing-text="Refreshing.." on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item ng-repeat="trend in vm.trends" class="item-text-wrap">
        <h4>Tendendcias de Internet</h4>
        <div ng-bind-html='trend.content'></div>
      </ion-item>


      <ion-item ng-repeat="new in vm.news" class="item-text-wrap">
        <h4>Noticias</h4>
        <p>{{new.title}}</p>
        <a href="{{new.link}}">Ver</a>
      </ion-item>
      <ion-item ng-repeat="image in vm.images" class="item-text-wrap">

        <!--&lt;!&ndash;<pre>{{vm.images|json}}</pre>&ndash;&gt;-->
        <!--<div class="image-card">-->
          <!--<img ng-src="{{image.images.low_resolution.url}}">-->
          <!--<small>{{image.location.name}}</small>-->
          <!--<small>{{image.caption.text}}</small>-->
          <!--<p><img ng-src="{{image.user.profile_picture}}" style="border-radius: 40px;width:20px;">{{image.user.full_name}}</p>-->

        <!--</div>-->

      </ion-item>
      <!--<ion-item ng-repeat="image in vm.images_2" class="item-text-wrap">-->

        <!--&lt;!&ndash;<pre>{{vm.images|json}}</pre>&ndash;&gt;-->
        <!--<div class="image-card">-->
          <!--<img ng-src="{{image.user.profile_picture}}" style="border-radius: 40px;width:20px;">{{image.user.full_name}}-->
          <!--<img ng-src="{{image.images.low_resolution.url}}">-->
          <!--<small>{{image.location.name}}</small>-->
          <!--<small>{{image.caption.text}}</small>-->
        <!--</div>-->
      <!--</ion-item>-->
      <ion-item ng-repeat="image in vm.images_3" class="item-text-wrap">

        <!--<pre>{{vm.images|json}}</pre>-->
        <div class="image-card">
          <img ng-src="{{image.images.low_resolution.url}}" class="main-image">
          <br>
          <div class="image-card-content">
            <img ng-src="{{image.user.profile_picture}}" class='mini-profile-image' align="left">
            <p class="profile-label">{{image.user.full_name}}</p>
            <hr>
            <br>
            <p>{{image.location.name}}</p>
            <p>{{image.caption.text}}</p>
          </div>

        </div>
      </ion-item>

    </ion-list>


    <!--<ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">-->
    <!--<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">-->

    <!--</ui-gmap-marker>-->
    <!--</ui-gmap-google-map>-->
    <ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" distance="5%" ng-if="true"></ion-infinite-scroll>

  </ion-content>


</ion-view>
