<html ng-app="starter">

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="Content-Security-Policy" content="default-src * blob:; script-src &apos;self&apos; &apos;unsafe-inline&apos; &apos;unsafe-eval&apos; *; style-src  &apos;self&apos; &apos;unsafe-inline&apos; *;">
  <title>citymap</title>

  <link href="http://code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
  <script src="lib/exif-js/exif.js"></script>

  <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/24/5/overlay.js"></script>
  <script src="lib/js-rich-marker-compiled.js"></script>
  <script src="http://example.gajotres.net/include/angular-google-maps/angular-google-maps.min.js"></script>

  <script src="http://example.gajotres.net/include/loadsh/lodash.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeOqQIErOglIRjvd81IWYVfRpaTkDNWnY&amp;libraries=places"></script>

  <script src="js/app.js"></script>
  <script src="js/maps/maps_config.js"></script>
  <script src="js/maps/directions_map.directive.js"></script>
  <script src="js/maps/activity_map.directive.js"></script>
  <script src="js/maps/geocode.factory.js"></script>
  <script src="js/maps/google_directions.factory.js"></script>
  <script src="js/instagram.factory.js"></script>
  <script src="js/main.controller.js"></script>

  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  </head>


<body>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>

  </ion-nav-bar>
  <ion-tabs tabs-style="tabs-icon-bottom" tabs-type="tabs-positive">

    <ion-tab title="Map" icon="ion-map" href="#/">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="List" icon="ion-clipboard" href="#/list">
      <ion-nav-view name="list-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profile" icon="ion-person" href="#/profile">
      <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

  <ion-nav-view></ion-nav-view>
  <script id="home.html" type="text/ng-template">ope
    <ion-view view-title="citymap 0.1">

      <ion-content data-tap-disabled="true">
          <div activity-map
               options="vm.mapOptions"
               ng-model="vm.places"
               items="vm.markers">
          </div>
        <ion-list>

          <ion-item ng-repeat="place in vm.places">


            <p><img ng-src="{{place.icon}}" style="border-radius: 40px;width:20px;">{{place.name}}

          </ion-item>
        </ion-list>
      </ion-content>

    </ion-view>
  </script>


</body>
</html>

